header{
  height: 200px;
  width: 100%;
  max-width: 1500px;
  background-image: url(images/road.jpg);
  background-size:cover;
  background-repeat: no-repeat;
  background-color: skyblue;
  margin: auto;
  position: relative;
  border-bottom: 2px solid black;
}
body{
  width:100%;
  max-width: 1500px;
  background-color: #687FA0;
  margin: auto;
}
.show-results .results{
  display: block;
}
.show-results .imageSelect{
  display: none;
}
.bodyWrap{
  background-color: white;
}
.clear{
  clear: both;
}
.logo{
  float: left;
  width:25%;
  padding-top: 10px;
  padding-left: 15px;

}
.logo img{
  height: 100%;
  width: 100%;
}
nav ul{
  float: right;
  padding-right: 20px;
  margin-top: 148px;
}
.activeTab{
  background-color: white;
}
nav li{
  font-size: 29px;
  display: inline-block;
  border-top-left-radius:20%;
  border-top-right-radius:20%;
  border: 2px solid black;
  border-bottom: none;
  background-color: gray;
  font-family: 'Palanquin Dark', sans-serif;
}
a{
  text-decoration: none;
  padding: 0px 10px;
}
a:hover{
  color: yellow;
}
a:link, a:visited{
  color:black;
}
.results{
  float: left;
  width: 100%;
  background-color: white;
  font-family: 'Palanquin Dark', sans-serif;
  font-size: 20px;
  margin-top: 15px;
  margin-bottom: 50px;
  padding-left: 15px;
  padding-right: 10px;
  display: none;
}
.imageSelect{
  position: relative;
  height: 450px;
  width: 75%;
  text-align: center;
  margin: auto;
}

.imageSelect label input{
  visibility: hidden;
  position: absolute;
}
.productBox{
  position: absolute;
  width:100%;
  height: 350px;
  z-index: 1;
}
label img:hover{
  transition: all .3s ease;
  transform: scale(1.1);
  border: 2px dashed black;
}
#image1, #image2, #image3{
  float:right;
  width: 30%;
  margin: 5px;
}
input[type=submit]{
  clear: both;
  margin-top: 350px;
  padding: 0px 300px;
  font-family: 'Palanquin Dark', sans-serif;
  background-color: #E2231A;
  font-size: 25px;
  border: 2px solid black;
  border-radius: 10%;
}
input[type=submit]:hover{
  transition: all .5s ease;
  background-color: black;
  color: white;
}
.buttonContainer{
  clear: both;
  height: 100px;
  position:relative;
  padding: 25px 0px 25px 0px;
}
label > input + img{
  cursor:pointer;
}
label > input:checked + img{
  border:2px solid black;
}
.description{
  clear: both;
  color: black;
  padding: 15px 50px;
  font-family: 'Volkhov', serif;
  font-size: 30px;
  background-color: white;
  border-top: 2px solid black;
}
footer{
  text-align: center;
}
